* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
span.regular {
    font-size: 10px;
}
span.quote {
    font-family: Georgia;
}

header {
    width: 100%;
}
.logo_part {
    height: 140px;
    border-bottom: 1px lightgray solid;
    position: relative;
}
.logo_part .logo {
    font-family: 'Times New Roman'; text-align: center;
    font-size: 60px; line-height: 60px;
    padding: 40px 0;
}
.logo_part .menu_button {
    float: left; 
    position: absolute; top: 50px; left: 40px;
}
.logo_part .menu_button > a {
    display: block;
    width: 40px; height: 40px; text-align: center;
    font-size: 35px; line-height: 35px;
}
.logo_part .menu_button > a:hover {
    background-color: lightgray;
}
.logo_part .menu_button > a:active {
    /* todo : appear left menu bar */
}
.category_part {
    height: 40px;
    border-bottom: 1px lightgray solid;
}
.category_part > ul {
    width: 1000px; height: 40px; margin: 0px auto;
    text-align: center;
}
.category_part > ul > li {
    display: inline-block; line-height: 14px;
    height: 20px; margin: 0px 10px;
    position: relative; top: 7px;
}
.category_part > ul > li:hover {
    border-bottom: 2px red groove;
}
.category_part > ul > li > a {
    font-size: 14px;
}

#articles {
    width: 1200px; height: 1000px; margin: 30px auto 0px;
}
#articles div.section1_articles {
    float: left;
    width: 680px; height: 680px; margin: 0px 20px 20px 0px;
}
#articles div.section1_articles .head_article {
    width: 680px; height: 500px;
    background-image: url(resources/sample_image.jpg);
    position: relative;
}
#articles div.section1_articles .head_article > div {
    width: 640px; height: 150px; padding: 20px;
    position: absolute; left: 0px; bottom: 0px;
}
#articles div.section1_articles .head_article > div h2 {
    color: white; line-height: 50px;
}
#articles div.section1_articles .head_article > div > span.regular {
    color: white;
}
#articles div.section1_articles .head_article > div > span.quote {
    color: white; line-height: 50px;
}
#articles div.section1_articles .below_article {
    float: left;
    width: calc(210px); height: 150px; margin-right: 25px;
    border-bottom: 1px lightgray solid;
}
#articles div.section1_articles .below_article:last-child {
    margin-right: 0px;
}

#articles div.section2_articles {
    float: left;
    width: 200px; height: 680px; margin: 0px 10px 20px 10px;
    background-color: bisque;
}
#articles div.section3_articles {
    float: left;
    width: 260px; height: 680px; margin: 0px 0px 20px 20px;
    background-color: bisque;
}